<nav class="bg-default-15  mt-0">
    <div class="container mt-0 mb-0 bread">
        <ol class="breadcrumb  mb-0">
            <li class="breadcrumb-item"><a href="#">Øko-Portalen</a></li>
            <li class="breadcrumb-item"><a href="#">Jord og planter</a></li>
            <li class="breadcrumb-item active" aria-current="page">Næringsforsyning i økologisk planteavl</li>
        </ol>
    </div>
</nav>