
<div class="container content-narrow">
    <article>
        <p>Ligesom afgrøder i alle andre dyrkningssystemer, har økologiske afgrøder brug for næringsstoffer igennem
            deres vækst. Her kan du læse mere om regler og praksis ift. den økologiske næringsstofforsyning.
        </p>

        <h3>Økologiske principper vedr. næringsstoffer</h3>
        <p>Vejledning om økologisk jordbrugsproduktion er den danske version af EU’s økologiregler. Den bliver jævnligt
            opdateret med nye afklaringer fra landbrugsstyrelsen. Når EU reviderer sin økologiforordning, bliver de
            danske økologiregler opdateret, så de er i overensstemmelse med hensigterne, men med en vis tilpasning til
            de forhold vi driver landbrug under i Danmark. Derfor er økologiregler i forskellige dele af Europa ikke
            nødvendigvis 100% ens, selvom varerne alle er mærket med EU’s økologilogo, det grønne blad.
        </p>

        <p>Næringsstoffer eller gødskning af økologiske marker, er et meget centralt tema i økologien. Det skyldes den
            markante forskel det udgør, når der ikke må anvendes kunstgødning og pesticider til plantebeskyttelse.
            Afsnittene om gødningsregler fylder meget i vejledningen, fordi de overordnede principper skal udmøntes i
            nogle regler der kan måles, vejes og kontrolleres i de årlige indberetninger og økologikontroller.
        </p>
    </article>
</div>

<div class="content-dark container-fluid">
    <div class="container content-narrow ">
        <article>

            <p>På side 102 i 2022-vejledningen er de mest centrale principper for dyrkning af økologisk jord beskrevet.
                Der står blandt andet:</p>
            <p>Du skal bevare og forøge jordens frugtbarhed og biologiske aktivitet, ved at:</p>
            <ul>
                <li>Dyrke bælgplanter og andre planter til grøngødning. </li>
                <li>Sørge for et hensigtsmæssigt flerårigt sædskifte. </li>
                <li>Tilføre husdyrgødning fra økologisk husdyrproduktion, helst komposteret</li>
                <li>Tilføre andet organisk materiale fra økologisk produktion, helst komposteret</li>
            </ul>
        </article>
    </div>
</div>

<div class="container content-narrow">
    <article>
        <p>Det overordnede princip er, at jordens frugtbarhed i det mindste skal bevares og meget gerne forbedres. Der
            skal altså anvendes økologisk husdyrgødning eller anden organisk økologisk gødning, helst komposteret på de
            økologiske marker.<br>
            Sådan ser virkeligheden ikke altid ud. Når det ikke er muligt at skaffe sig de næringsstoffer der er brug
            for, efter at landmanden har optimeret sit sædskifte med bælgplanter og efterafgrøder, så kan landmanden
            begrunde et behov for at importere konventionelle organiske gødninger. Begrundelsen skal ligge som et
            dokument i landmandens markbog, så økologikontrollen kan tjekke at man har gjort hvad der er muligt med de
            økologiske metoder.
        </p>

        <p>Videre på samme side i vejledningen står der:</p>
        <li>Økologisk produktion er et samlet system for landbrugsdrift og fødevareproduktion, der bl.a. kombinerer
            bedste praksis på miljø og klimaområdet og en høj grad af biodiversitet. </li>
        <li>Affald og biprodukter af vegetabilsk og animalsk oprindelse skal genanvendes bl.a. som input i
            planteproduktion.</li>

        <p>Med de formuleringer fremhæves det økologiske princip om at arbejde i cirkulære systemer.</p>

        <p>Fortolkningen i den danske økologivejledning, kombineret med de regelanbefalinger, der er formuleret af
            økologierhvervet selv, er at biogasgylle og lignende produkter der betegnes som recirkulerede, er højere
            prioriteret end den ubehandlede konventionelle husdyrgødning.
        </p>
    </article>
</div>

<div class="content-dark container-fluid">
    <div class="container content-narrow">
        <article>
            <h2>husdyrgødning</h2>
            <p>husdyrgødning er den vigtigste Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit in
                molestias officia tenetur, sunt eveniet cum minus veniam, quidem tempora quam deleniti consequatur ad
                illum ipsum. Nulla architecto quasi magni. pa markerne
            </p>
        </article>
    </div>
</div>
<div class="content-dark container-fluid">
    <div class="container content-">

        <article>
            <table class="table table-bordered">

                <tbody class="bg-white">
                    <tr class="bg-default-40">
                        <td colspan="6">Eksempler paforskerllinge godning</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Kg N/t</td>
                        <td>N-udnyt.%</td>
                        <td>kg P/t</td>
                        <td>kg k/t</td>
                        <td>kg S/t</td>
                    </tr>
                    <tr>
                        <td>kvaeggylle</td>
                        <td>3</td>
                        <td>75</td>
                        <td>0.5</td>
                        <td>3</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>svinegylle</td>
                        <td>5</td>
                        <td>80</td>
                        <td>1</td>
                        <td>2</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>
<div class="content-dark container-fluid">
    <div class="container content-narrow">

        <article>
            <p>En of udfordringerne ved at Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga quis magnam
                iste commodi, laborum alias beatae enim distinctio dicta eius similique veniam cum itaque pariatur sunt
                dolore eos voluptas aliquid? brug for det.
            </p>

            <p>Der er produkter med andre naeringsstofprofiler Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque repellendus eaque ut maxime sunt odio perferendis eos id, incidunt sapiente asperiores
                consectetur repudiandae quidem, quae nisi? Quia laudantium nihil quod. til at balancere
                naeringsstoftilforslen
            </p>
            <p>
                Figuren viser hvordan man kan kombinere Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam
                minus molestiae porro? Neque quos deleniti velit deserunt nemo commodi suscipit dicta ullam, dignissimos
                impedit necessitatibus eaque quaerat exercitationem dolor sequi. 65 kg udnyttet-N per hektar.
            </p>
            <div class="bg-white progress1">
                <h2>Kvaelstofregler - brancheanbefalinger</h2>
                <p>Okologisk godning <span class="align-right"> Tilskudsbegraensning 107 kg N</span></p>
                <div class="progress1--bar bg-default"></div>
                <p>Okologisk gedning eller <span class="align-right">107 kg N</span></p>
                <div class="progress1--bar bg-theme-soil"></div>

            </div>
            <p>Kvaelstof er den Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, sit tenetur fugit
                asperiores nam iste, beatae eaque quas eum neque laudantium totam error rerum delectus doloremque hic
                consequatur accusantium. Molestias. udnyttet-N per hektar
            </p>
        </article>
    </div>
</div>


<div class="container content-narrow">
    <article>
        <h2>Biogasgodning</h2>
        <p>
            Recirkulering er hojt Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat molestias sed
            incidunt explicabo ipsa quaerat consectetur eveniet excepturi, hic voluptatem quidem ratione delectus nisi?
            Ullam esse voluptate voluptates praesentium vitae? planteavlere.
        </p>

        <p>Der findes nogle fa Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsa magni deleniti
            obcaecati, reprehenderit suscipit quisquam repudiandae quasi cupiditate aperiam laborum non necessitatibus
            eligendi itaque, quis aut doloremque eius consequatur. til modtagerens okologikontrol.

        </p>
        <p>
            Lkke-okologiautoriserede Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus itaque
            officiis aliquid quibusdam delectus eligendi, necessitatibus, sed deleniti reiciendis esse nihil odit
            asperiores vel cum, iusto nam provident nemo dolores. husdyrgoding.
        </p>
    </article>
</div>

<div class="container-fluid bg-theme-soil-5">
    <div class="container grid-row">
        <div class="row padding--y">
            <div class="col-12 col-sm-6">
                <h2>Nedbor - box 650px - h4</h2>
                <p>Kig pa DMI's vejrarkiv Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi soluta quis
                    recusandae tempore obcaecati, aliquid vero blanditiis quia error modi eveniet eos, reiciendis quas
                    corrupti ea laborum tempora vel placeat. sig i Danmark.
                </p>
                <p>Her ses Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita sit reprehenderit, eos
                    minima excepturi alias, blanditiis est rerum, quidem suscipit a voluptatum repellendus. Labore
                    architecto facilis quae ratione tempore! Yderst ses.
                </p>
            </div>
            <div class="col-12 col-sm-6">
                <img src="../../../assets/svg/tmp/tmp1.svg" alt="img">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4">
                <img src="../../../assets/svg/tmp/tmp1.svg" alt="img">
                <p>Figur: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure iusto tenetur voluptatum labore
                    nulla, vitae quae magnam repudiandae quisquam voluptates quia maiores corrupti, nemo itaque optio
                    laborum ipsa dolorum corporis.</p>
            </div>
            <div class="col-12 col-sm-4 padding--x">
                <img src="../../../assets/svg/tmp/tmp1.svg" alt="img">
                <p>Figur: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure iusto tenetur voluptatum labore
                    nulla, vitae quae magnam repudiandae quisquam voluptates quia maiores corrupti, nemo itaque optio
                    laborum ipsa dolorum corporis.</p>
            </div>
            <div class="col-12 col-sm-4">
                <img src="../../../assets/svg/tmp/tmp1.svg" alt="img">
                <p>Figur: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure iusto tenetur voluptatum labore
                    nulla, vitae quae magnam repudiandae quisquam voluptates quia maiores corrupti, nemo itaque optio
                    laborum ipsa dolorum corporis.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <h2>Learn about....</h2>
        </div>
        <div class="col-12 col-sm-6"> <img src="../../../assets/svg/tmp/tmp1.svg" alt="img"></div>
    </div>
</div>

<div class="container content-narrow">
    <article>
        <img src="../../../assets/svg/tmp/tmp1.svg" alt="img">
        <h2>Lorem Ipsum</h2>
        <h3>Lorem Ipsum</h3>
        <p>(Body text 30 pkt) De Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum perferendis molestias
            placeat aspernatur ipsum sapiente possimus, veniam, blanditiis eaque ea fugiat illo soluta expedita ipsam
            maiores. Quos dicta quae architecto! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis
            eaque
            dolorum quis quas animi aliquid voluptate nulla obcaecati corrupti accusamus, provident iste id dicta
            reprehenderit porro? Voluptatem eius culpa quo?</p>
        <h3>Lorem Ipsum</h3>
        <p>(Body text 30 pkt) De Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum perferendis molestias
            placeat aspernatur ipsum sapiente possimus, veniam, blanditiis eaque ea fugiat illo soluta expedita ipsam
            maiores. Quos dicta quae architecto! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis
            eaque
            dolorum quis quas animi aliquid voluptate nulla obcaecati corrupti accusamus, provident iste id dicta
            reprehenderit porro? Voluptatem eius culpa quo?</p>
        <ul>
            <li><a href="">Links</a></li>
            <li><a href="">Links</a></li>
            <li><a href="">Links</a></li>
        </ul>
        <p>some reference Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laborum sunt</p>
    </article>
</div>

<div class="container-fluid bg-theme-soil-5">
    <div class="container grid-row">
        <div class="row padding--y">
            <div class="col-12 col-sm-6">
                <h2>About sub theme</h2>
                <p>Ga. Equasi arum que num Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi soluta quis
                    recusandae tempore obcaecati, aliquid vero blanditiis quia error modi eveniet eos, reiciendis quas
                    corrupti ea laborum tempora vel placeat. sig i Danmark.
                </p>

            </div>
            <div class="col-12 col-sm-6">
                <img src="../../../assets/svg/tmp/tmp1.svg" alt="img">
            </div>
        </div>
    </div>
</div>
<div class="container grid-row">
    <div class="row padding--y">
        <div class="col-12 col-sm-6">
            <h2>About sub theme</h2>
            <p>Ga. Equasi arum que num Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi soluta quis
                recusandae tempore obcaecati, aliquid vero blanditiis quia error modi eveniet eos, reiciendis quas
                corrupti ea laborum tempora vel placeat. sig i Danmark.
            </p>

        </div>
        <div class="col-12 col-sm-6">
            <img src="../../../assets/svg/tmp/tmp1.svg" alt="img">
        </div>
    </div>
</div>

<div class="container-fluid bg-theme-soil-5">
    <div class="container grid-row">
        <div class="row padding--y">
            <div class="col-12 col-sm-6">
                <h2> Test din Viden Om: Proteinafgroder</h2>
                <button type="button" class="btn btn-default">Quiz</button>
            </div>
            <div class="col-12 col-sm-6">
                <img src="../../../assets/svg/tmp/tmp1.svg" alt="img">
            </div>
        </div>

    </div>
</div>

<div class="container content-narrow">
    <div class="row">
        <div class="col-12 col-sm-6">
            <img src="../../../assets/svg/tmp/tmp1.svg" alt="img">
            <ul>
                <li><a href="">Links</a></li>
                <li><a href="">Links</a></li>
                <li><a href="">Links</a></li>
            </ul>
            <p>some reference Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laborum sunt</p>
        </div>
        <div class="col-12 col-sm-6">
            <h2>Fakta om...</h2>
            <p>Dignissim fringilla Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus minima velit,
                maxime asperiores molestiae ipsam nostrum reprehenderit! Iure placeat ab beatae quas libero? Atque
                nesciunt deserunt repudiandae explicabo vero! Vel?</p>
        </div>
    </div>
</div>