  <div class="container-fluid footer-parent g-0">
    <div class="umb-grid">
      <div class="grid-section">
        <div>
          <div class="container">
            <div class="row clearfix">
              <div class="col-md-8 column">
                <div class="footer__left">

                  <p><br><br></p>
                  <h1
                    style="color: #393939; font-family: Press Serif; font-size:48px ; font-style: normal; font-weight: 600; line-height: 120%;">
                    <img style="margin-top: -10px;" class="footer-logo"
                      src="https://test.okoportalen.lf.dk/media/dm0bzykk/logo.svg?rmode=max&amp;width=49&amp;height=49"
                      alt="" width="49" height="49" data-udi="umb://media/e11c351d134a4a7994ebf5051bca61ed">&nbsp;
                    Øko-Portalen</h1>
                  <h4>- viden om økologi til landbrugsuddannelsen</h4>
                  <p>Støttet af Fonden for Økologisk Landbrug og Børne- og Undervisningsministeriets <br>pulje til
                    udvikling af digitale undervisningsmaterialer.<br><br></p>
                  <p><img class="img-fluid"
                      src="https://test.okoportalen.lf.dk/media/3d2jqp1g/logo-fonden-for-oekologisklandbrug-1.png?rmode=max&amp;width=318&amp;height=24"
                      alt="" width="318" height="24" data-udi="umb://media/3f98f8ee06664a9ca19ceb6b2ab077c0"></p>

                </div>
              </div>
              <div class="col-md-4 column">
                <div class="footer__right">

                  <p><br><br></p>
                  <ul>
                    <li>
                      <a href="/om-os/" title="Om os">Om sitet</a>
                    </li>
                    <li>
                      <a href="/om-os/" title="Om os">Om Landbrugsuddannelsen</a>
                    </li>
                    <li>
                      <a href="/om-os/" title="Om os">Kontakt</a>
                    </li>
                    <li>
                      <a rel="noopener" href="https://lf.dk/om-os/cookiepolitik" target="_blank">L&amp;F's
                        cookiepolitik</a>
                    </li>
                    <li>
                      <a rel="noopener" href="https://lf.dk/privatlivspolitik" target="_blank">L&amp;F's
                        privatlivspolitik</a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="container">
            <div class="row clearfix">
              <div class="col-md-8 column">
                <div>

                  <p>&nbsp;</p>
                  <p>
                    <small>© ØKO-PORTALEN Inc. 2022. Vi arbejder med økologi.</small>
                  </p>
                  <p><br><br></p>

                </div>
              </div>
              <div class="col-md-4 column">
                <div>

                  <p><br><img
                      src="https://test.okoportalen.lf.dk//media/pkkmfl2f/oko-logo.png?rmode=max&amp;width=64&amp;height=59"
                      alt="" width="64" height="59" data-udi="umb://media/afc2947c4e854fccbb091a40e4d37269">&nbsp;
                    &nbsp; &nbsp; <img
                      src="https://test.okoportalen.lf.dk//media/ujdn5gpu/lf-logo.png?rmode=max&amp;width=109&amp;height=62"
                      alt="" width="109" height="62" data-udi="umb://media/99df47a433f44eaca16e94d73e8ebc0a"></p>
                  <p><br><br></p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="module" src="/assets/js/components/header.js"></script>
<script type="module" src="/assets/js/components/cards.js"></script>
<script type="module" src="/assets/js/components/content.js"></script>
<script type="module" src="/assets/js/components/split-component.js"></script>