<div class="content-light  ">
    <div class="container CompGridBlock py-4">

            <div class="row"><div class="col-12"><h2><a>Hvordan bruger du sitet?</a></h2></div></div>
        <div class="row big-gutter ">
                    <div class="col-md-6 align-items-stretch align-self-center my-2">
                        
 <div class="card ">
    <div class="card-body d-flex flex-column">
      <h3 class="card-title">Hvis du er studerende</h3>
      <p class="card-text lead ">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. (180 anslag)</p>
      
    </div>
  </div>


    
                    </div>
                    <div class="col-md-6 align-items-stretch align-self-center my-2">
                        
 <div class="card">
    <div class="card-body d-flex flex-column">
      <h3 class="card-title">Hvis du er lærer</h3>
      <p class="card-text lead ">Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
      
    </div>
  </div>


    
                    </div>

        </div>
    </div>

</div>