<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap w/ Vite</title>
  <!-- <link rel="stylesheet" href="scss/styles.scss">
    <script type="module" src="./js/main.js"></script> -->


  <!-- <link rel="stylesheet" href="/assets/css/style.scss" /> -->
  <script type="module" src="/assets/js/main.js"></script>
  <script type="module" src="/ts/main.ts"></script>
  <link rel="stylesheet" href="/assets/css/print.scss" media="print" />

</head>