<header class="container-fluid position-fixed header-parent" id="header-parent">
  <div class="default-40-background">
    <div class="container header">
      <div class="header__left">
        <a href="#">
          <img class="logo" src="/assets/svg/logo.svg" alt="logo" />
          <span id="okoPortalen">ØKO - Portalen</span>
        </a>
      </div>
      <div class="header__right" id="headerRight">
        <div id="headerSearchBar" class="header__search-bar">
          <img src="/assets/svg/search.svg" alt="search" />
          <form action="/soeg" type="get">
            <input
              type="text"
              id="t"
              name="t"
              value=""
              size="3"
              placeholder="Søg på Øko-portalen "
            />
          </form>
        </div>
        <button id="quickSearch">
          <img src="/assets/svg/search.svg" alt="search" />
        </button>
        <button id="quickSearchHide" class="button__cross">
          <img src="/assets/svg/cross.svg" alt="cross" />
        </button>
        <button class="hamburger-button" id="hamburgerButton" type="button">
          <div class="hamburger-animated-icon"><span></span><span></span><span
            ></span></div>
        </button>
      </div>
    </div>
  </div>
</header>
<div class="hamburger-menu shadow p-4">
  <ul>
    <li>
      <a href="#"><img
          src="../../../assets/svg/6icon/Jord-og-planter.svg"
          alt=""
        />&nbsp; &nbsp;Jord og planter</a>
    </li>
    <li>
      <a href="#"><img
          src="../../../assets/svg/6icon/Husdyr.svg"
          alt=""
        />&nbsp; &nbsp;Husdyr</a>
    </li>
    <li>
      <a href="#"><img src="../../../assets/svg/6icon/Klima.svg" alt="" />&nbsp;
        &nbsp;Klima</a>
    </li>
    <li>
      <a href="#"><img
          src="../../../assets/svg/6icon/Nye-produktions-systemer.svg"
          alt=""
        />&nbsp; &nbsp;Nye produktions systemer</a>
    </li>
    <li>
      <a href="#"><img
          src="../../../assets/svg/6icon/Forbrug.svg"
          alt=""
        />&nbsp; &nbsp;Forbrug</a>
    </li>
    <li>
      <a href="#"><img
          src="../../../assets/svg/6icon/Regler.svg"
          alt=""
        />&nbsp; &nbsp;Regler</a>
    </li>

  </ul>
  <br />
  <ul>
    <li>
      <a href="#">Om sitet</a>
    </li>
    <li>
      <a href="#">Om&nbsp;Landbrugsskoleuddannelsen</a>
    </li>
    <li>
      <a href="#">Kontakt</a>
    </li>
  </ul>
</div>