<section class="container-fluid CompHero container-no-bottom-margin container-no-top-margin"
	id="9c2e7477-42f0-43fb-9c45-e1a7ea36eefe">

	<div class="hero-default">
		<div class="hero-content"
			style="background-image:url('https://test.okoportalen.lf.dk/media/ngljmlb4/hero-home-min.jpg?rxy=0.41565381820429714,0.6053732777033759&amp;width=2000&amp;height=700&amp;rnd=132992391188170000');">

			<div class="container">
				<img src="https://test.okoportalen.lf.dk//media/pkkmfl2f/oko-logo.png">
				<h1 class="text-white">ØKO-Portalen </h1>
				<h2 class="text-white">- viden om økologi til landbrugsuddannelsen</h2>
			</div>
		</div>

	</div>

</section>