<aside class="left-nav">
    <button class="nav-toggle-button" id="leftNavToggleButton" type="button">
        <img src="../../../assets/svg/articles-icon.svg" alt="">
        <!-- <div id="leftNavToggleTxt">Artikler i<br> samme tema</div> -->
        <span id="leftNavToggleIcon" class="wayfinder"></span>
    </button>
    <nav class="leftNavMenu" id="leftNavMenu">
        
        <div class="left-nav-bg">
            <button class="btn articles-close-button" id="leftNavMenuClose" type="button"><img src="../../../assets/svg/cross.svg" alt=""></button>
            <span class="wayfinder"></span>
            <h3><a href="#">Section/Theme name</a></h3>
            

            <ul>
                <li>
                    <a href="#">Introduktion til økologisk dyrkning</a>
                </li>
                <li>
                    <a href="" class="selected">Næringsstofforsyning i økologisk planteavl</a>
               
                    <ul>
                        <li><a href="">This is a sub page</a></li>
                        <li><a href="">This is a sub page</a></li>
                        <li><a href="" class="selected">This is subpage that is selected/hovered</a>
                       
                            <ul>
                                <li><a href="#" class="selected">This is even deeper level selected/hovered</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">This is a subpage page</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Økologiske sædskifter</a>
                </li>
                <li>
                    <a href="#">Bekæmpelse af ukrudt</a>
                </li>
                <li>
                    <a href="#">Bekæmpelse af sygdomme og skadedyr</a>
                </li>
                <li>
                    <a href="#">Økologiske frø</a>
                </li>
                <li>
                    <a href="#">Afgrøder</a>
                </li>
                <li>
                    <a href="#">Faglig guide til økologisk planteavl</a>
                </li>
                <li>
                    <a href="#">Økonomi i økologisk planteavl</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>