<div class="container py-5">
  
    <h2>Hvordan bruger du sitet?</h2>
    <div class="row ">
      <div class="col-12 col-md-6 align-self-center" style="padding:100px;">
        <h3>Om landbrugsskoleuddannelsen</h3>
        <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
          sequi nesciunt. Neque porro quisquam est, qui dolorem.
          flex-row-reverse

          
        </p>
        <a href="">Just a link</a>
      </div>
      <div class="col-12 col-md-6 align-self-center" style="padding:100px;">
        <img src="assets/img/hero-tracktor-plowing.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>