<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    {{> header }}
    {{> breadcrumb }}
    {{> left-navigation }}
    {{> hero-banner }}
    {{> content }}
    {{> grid-row }}
    {{> split-card }}
    {{> footer }}
</body>
</html>
<!-- {% block main %}
{% include "components/breadcrumb.html"%}
{% include "components/left-navigation.html" %}
{% include "components/hero-banner.html" %}
{% include "components/content.html" %}
{% include "components/grid-row-2.html" %}
{% include "components/split-card.njk" %} 
{% endblock %}  -->
