@use '../../custom.scss' as *;

div.card{
    padding:0;
    background-color: transparent;
    // .card-title{
    //     font-size:1.5rem;
    // }

    .card-body{
        padding-left:0;
        padding-right:0;
        h3.card-title{
            font-family: $font-family-base-demibold;
            font-size: $h5-font-size;

        }
    }
}

.card-link{
    text-decoration: none;
}

div.card-hover:hover, div.card-hover:hover .card-link {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
}
