@font-face {
    font-family: 'LF Press Sans';
    src: url("../../assets/fonts/2022/Sans/WEB/LFPressSansOffc-Regular.woff2") format("woff2"),

         url("../../assets/fonts/2022//Sans/WEB/LFPressSansOffc-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'LF Press Sans Light';
//     src: url("../../assets/fonts/2022/Sans/WEB/LFPressSansOffc-Light.woff2") format("woff2"),
//          url("../../assets/fonts/2022/Sans/WEB/LFPressSansOffc-Light.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'LF Press Sans DemiBold';
    src: url("../../assets/fonts/2022/Sans/WEB/LFPressSansOffc-dBold.woff2") format("woff2"),
         url("../../assets/fonts/2022/Sans/WEB/LFPressSansOffc-dBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'LF Press Sans Bold';
//     src: url("../../assets/fonts/2022/Sans/WEB/LFPressSansOffc-Bold.woff2") format("woff2"),
//          url("../../assets/fonts/2022/Sans/WEB/LFPressSansOffc-Bold.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }


// @font-face {
//     font-family: 'Press Serif';
//     src: url("../../assets/fonts/2022/Serif/WEB/LFPressSerifOffc-Regular.woff2") format("woff2"),
//          url("../../assets/fonts/2022/Serif/WEB/LFPressSerifOffc-Regular.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Press Serif DemiBold';
    src: url("../../assets/fonts/2022/Serif/WEB/LFPressSerifOffc-dBold.woff2") format("woff2"),
         url("../../assets/fonts/2022/Serif/WEB/LFPressSerifOffc-dBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Press Serif Bold';
    src: url("../../assets/fonts/2022/Serif/WEB/LFPressSerifOffc-Bold.woff2") format("woff2"),
         url("../../assets/fonts/2022/Serif/WEB/LFPressSerifOffc-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'Press Serif Italic';
//     src: url("../../assets/fonts/2022/Serif/WEB/LFPressSerifOffc-Italic.woff2") format("woff2"),
//          url("../../assets/fonts/2022/Serif/WEB/LFPressSerifOffc-Italic.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Press Serif Bold Italic';
//     src: url("../../assets/fonts/2022/Serif/WEB/LFPressSerifOffc-dBoldItalic.woff2") format("woff2"),
//          url("../../assets/fonts/2022/Serif/WEB/LFPressSerifOffc-dBoldItalic.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }
